{% extends 'base.html' %}

{% block title %}Accounts{% endblock %}

{% block content %}

<h1>accounts</h1>
{% if accounts %}
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Type</th>
          <th scope="col">Description</th>
          <th scope="col">Counts</th>
          <th scope="col">Price</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        {% for acc in accounts %}
        <tr>
          <td>{{ acc.name }}</td>
          <td>{{ acc.get_short_description }}</td>
          <td>{{ acc.get_count }}</td>
          <td>{{ acc.price }}р.</td>
          <td><a href="{% url 'accounts:form' acc.name %}">Купить</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <a href="{% url 'accounts:add' %}">add (Удалить кнопку позже)</a>{# Delete adter debug #}
{% endif %}


{%  endblock %}